@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap');
* {
    box-sizing: border-box;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: #f6f6f6;
    /*color: white;*/
    /*margin: 0 1rem;*/
}

a {
    text-decoration: none;
    display: block;
    color: #000000;
}
button {
    outline: none;
    border: none;
}

.primary-button {
    cursor: pointer;
    background: #00cc66;
    border-radius: 1rem;
    padding: 0.85rem 2rem;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.25rem;
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


/*NAVBAR*/
.nav-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    height: 85px;
    background-color: #ffffff;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar {
    width: 100%;
    margin-top: 0.75rem;
    overflow-y: hidden;
}
.nav-items {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-item-name-active, .nav-item-name {
    margin-top: 0.25rem;
    font-size: 14px;
    font-weight: 600;
    color: #8f8f8f;
}
.nav-item-name-active {
    color: black;
}





/*PASSWORD EMAIL INPUT FIELDS*/
.page-container {
    margin: auto;
    max-width: 500px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.page-header {
    font-size: 2rem;
    font-weight: 500;
}

.password-input,
.email-input,
.name-input {
    box-shadow: rgba(0, 0, 0, 0.11);
    border: solid 1px black;
    /*border-radius: 3rem;*/
    border-radius: 10px;
    height: 3rem;
    width: 100%;
    outline: none;
    padding: 0 3rem;
    font-size: 1rem;
}
.email-input {
    margin-bottom: 2rem;
    background: url('./assets/svg/personIcon.svg') #ffffff 2.5% center no-repeat;
}
.password-input {
    margin-bottom: 1rem;
    background: url('./assets/svg/lockIcon.svg') #ffffff 2.5% center no-repeat;
}
.name-input {
    margin-bottom: 2rem;
    background: url('./assets/svg/badgeIcon.svg') #ffffff 2.5% center no-repeat;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    box-shadow: rgba(0, 0, 0, 0.11);
    height: 3rem;
    width: 100%;
    outline: none;
    padding: 0 3rem;
    font-size: 1rem;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: black !important;
}
.forgot-password-link {
    cursor: pointer;
    color: #00cc66;
    font-weight: 500;
    text-align: right;
}
.password-input-div {
    position: relative;
}
.show-password {
    cursor: pointer;
    position: absolute;
    top: -4%;
    right: 1%;
    padding: 1rem;
}

.sign-in-bar,
.sign-up-bar {
    margin-top: 1.5rem;
    display: flex;
    /*justify-content: space-between;*/
    justify-content: end;
    align-items: center;
    position: inherit;
}
.sign-in-text,
.sign-up-text {
    font-size: 1.5rem;
    font-weight: 500;
    padding-right: 1rem;
}
.sign-in-button,
.sign-up-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background-color: #00cc66;
    border-radius: 50%;
    cursor: pointer;
}

.register-link-wrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.register-text {
    padding-right: 5px;
}
.register-link {
    color: #00cc66;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}

.sign-in-wrapper {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sign-in-span {
    font-size: 1.25rem;
    font-weight: 400;
}
.sign-in-link-button {
    cursor: pointer;
    border-radius: 10px;
    background-color: #00cc66;
    margin-top: 2rem;
    padding: 1rem 2rem;
    color: white;
    font-size: 1rem;
}
.social-login {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-icon-div {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.75rem;
    margin: 1.5rem;
    width: 3rem;
    height: 3rem;
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}
.social-icon-img {
    width: 100%;
}


/*PROFILE*/
.profile {
    margin-bottom: 10rem;
}
.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logout {
    cursor: pointer;
    border-radius: 10px;
    background-color: #00cc66;
    padding: .5rem 1rem;
    color: white;
    font-size: 1rem;

}
.profile-details-header {
    display: flex;
    justify-content: space-between;
    max-width: 500px;
}
.personal-details-text {
    font-weight: 500;
}
.change-personal-details {
    cursor: pointer;
    font-weight: 600;
    color: #00cc66;
}
.profile-card {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.2);
    max-width: 500px;
}
.profile-email,
.profile-email-active,
.profile-name,
.profile-name-active {
    all: unset;
    margin: .25rem 0;
    padding: .25rem 0;
    font-weight: 400;
    width: 100%;
}
.profile-name-active {
    background-color: rgba(44, 44, 44, 0.1);
    border-radius: 5px;
}
.profile-email-active{
    cursor: none;
    background-color: rgba(44, 44, 44, 0.1);
    border-radius: 5px;
    color: lightgrey;
}





/*EXPLORE*/
.explore-heading,
.explore-category-heading {
    font-weight: 700;
}
.explore-category-heading {
    margin-top: 3rem;
}
.explore-categories {
    display: flex;
    justify-content: space-between;

}
.explore-category-img {
    min-height: 115px;
    height: 15vw;
    width: 100%;
    border-radius: 1.5rem;
    object-fit: cover;
    margin: 0 auto;
}
.explore-category-name {
    font-weight: 500;
    text-align: left;
}



/*CATEGORY*/
.category {
    margin-bottom: 10rem;
}
.category-listings {
    padding: 0;
}
.category-listing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
}
.category-listing-link {
    display: contents;
}
.category-listing-img {
    width: 30%;
    height: 100px;
    border-radius: 1.5rem;
    object-fit: cover;
}
.category-listing-location {
    font-weight: 600;
    font-size: 0.7rem;
    opacity: 0.8;
    margin-bottom: 0;
}
.category-listing-name {
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0;
}
.category-listing-price {
    margin-top: 0.5rem;
    font-weight: 600;
    font-size: 1.1rem;
    color: #00cc66;
    margin-bottom: 0;
    display: flex;
    align-items: center;
}
.category-listing-info-div {
    display: flex;
    justify-content: space-between;
    max-width: 275px;
}
.category-listing-info-text {
    font-weight: 500;
    font-size: 0.7rem;
}





/*CREATE LISTING*/
.create-listing {
    background-color: #ffffff;
    border-radius: 1rem;
    padding: 0.25rem 1rem;
    box-shadow: rgba(0, 0, 0, 0.2);
    margin-top: 2rem;
    font-weight: 600;
    max-width: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-label {
    font-weight: 600;
    margin-top: 1rem;
    display: block;
}
.form-buttons {
    display: flex;
}

.form-button,
.form-input-address,
.form-input-name,
.form-input-small,
.form-input-file,
.form-button-active {
    padding: 0.9rem 3rem;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.5rem 0.5rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-input {
    padding: 0.9rem 0.25rem;
    background-color: #ffffff;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1rem;
    margin: 0.5rem 1rem 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-button-active {
    background-color: #00cc66;
    color: #ffffff;
}

.form-input,
.form-input-address,
.form-input-name,
.form-input-small,
.formInputFile {
    border: none;
    outline: none;
}

.form-input-name {
    padding: 0.9rem 1rem;
    width: 90%;
    max-width: 326px;
}
.flex {
    display: flex;
}
.form-input-small,
.form-input-file {
    margin-right: 3rem;
    padding: 0.9rem 0.7rem;
    text-align: center;
}
.form-input-address {
    padding: 0.9rem 1rem;
    width: 90%;
    max-width: 326px;
}
.form-price-div {
    display: flex;
    align-items: center;
}
.form-price-text {
    margin-left: -1.5rem;
    font-weight: 600;
}
.images-info {
    font-size: 0.9rem;
    opacity: 0.75;
}
.form-input-file {
    width: 100%;
}
.form-input-file::-webkit-file-upload-button {
    background-color: #00cc66;
    border: none;
    color: #ffffff;
    font-weight: 600;
    padding: 0.5rem 0.75rem;
    border-radius: 1rem;
    margin-right: 1rem;
}
.create-listing-button {
    margin-top: 5rem;
}